In [128]:
import re

In [129]:
text1="""Mr. Smith is a male, age 72, with Chronic Obstructive Pulmonary Disease (COPD) who over the last few weeks has been having more Shortness of Breath (SOB). He states he is unable to walk for me today because he is too tired. Therefore he needs a PMD.  This document is submitted on the May 7th, 2023."""

In [130]:
text2="""We just admitted a patient who is between sixty five and seventy years old, with Chronic Obstructive Pulmonary Disease (COPD) who has Shortness of Breath (SOB) and is unable to talk. The patient name is unknown. Therefore he needs a PMD.  This document is submitted on the May 7th, 2023."""

In [131]:
text1_name=re.findall('(?<=Mr.)\s[a-zA-Z]+',text1)
text1_name

[' Smith']

In [132]:
text2_name=re.findall('(?<=name is)\s[a-zA-Z]+',text2)
text2_name

[' unknown']

In [133]:
text1_age=re.findall('(?<=age)\s\d+',text1)
text1_age

[' 72']

In [134]:
text2_age=re.findall('(?<=between)(.*?)(?=years old)',text2)
text2_age

[' sixty five and seventy ']

In [135]:
import pandas as pd
patient1={'name':text1_name,'age':text1_age}
patient1_df=pd.DataFrame(patient1)
patient1_df

     name  age
0   Smith   72

In [136]:
patient1_df['name']=[name.strip() for name in patient1_df['name']]
patient1_df['age']=[age.strip() for age in patient1_df['age']]

In [137]:
patient1_df

    name age
0  Smith  72

In [138]:
patient2={'name':text2_name,'age':text2_age}
patient2_df=pd.DataFrame(patient2)
patient2_df

       name                       age
0   unknown   sixty five and seventy

In [126]:
patient2_df['name']=[name.strip() for name in patient2_df['name']]
patient2_df['age']=[age.strip() for age in patient2_df['age']]

In [139]:
patient2_df

       name                       age
0   unknown   sixty five and seventy