In [1]:
#Regular Expression re
#import Libraries
import re

In [2]:
#Method 1. Match only lookis at the first pattern-only local search

In [9]:
sentence1="I was born in 1982"
sent1=""

In [10]:
re.match(r".*",sent1)#1.* any zero or more character

In [11]:
re.match(r".+",sent1)#2.+any one or more character

In [12]:
sentence2="2 Today is 4th of August 2020"

In [13]:
re.match(r"[2].+",sentence2)

In [14]:
sentence1="I was born in 1982"
re.match(r"[a-zA-Z]+",sentence1)#3 match first character

In [17]:
sentence3="abbb"
re.match(r"ab?",sentence3)#?after matching a only one b is allowed

In [20]:
sentence4="I was born in 1982"
re.match(r"[a-zA-Z]+",sentence4)

In [22]:
sentence4="1982 was the year I was born"
re.match(r"[a-zA-Z]+",sentence4)

In [23]:
#Method2.Search looks for the pattern anywhere in the string

In [24]:
#Search vs. Match output
sentence4="1982 was the year I was born"
re.search(r"[a-zA-Z]+",sentence4)

In [27]:
sentence4="1983 was the year I was born"

In [28]:
#starts with a specific character
if re.match(r"^1982",sentence4):
  print("starts with 1982")
else:
  print("no match")

no match

In [29]:
#ends with a specific character
if re.search(r"1982$",sentence1):
  print("match")
else:
  print("no match")

match

In [30]:
#Method3.Substitute replace found patterns with specific characters

In [31]:
#substitute text
sentence5="I Love Avengers"
sentence5=(re.sub(r"Avengers","Justice League",sentence5))

In [32]:
sentence5

'I Love Justice League'

In [33]:
sentence5="I Love Avengers"
sentence5=(re.sub(r"Avengerss","Justice League",sentence5))
sentence5

'I Love Avengers'

In [35]:
sentence6="I Love Avengers Avengers"
print(re.sub(r"avengers","Justice League",sentence6,flags=re.I))#flags=re.I meaning Ignorecase

I Love Justice League Justice League

In [39]:
#Use the Flag argument to make it case insensitive
sentence7="I Love Avengers Avengers"
print(re.sub(r"[a-z]","0",sentence7,flags=re.I))

0 0000 00000000 00000000

In [40]:
#Another argument is count so identify the count of characters to search
#instead of all matching chacarecters
sentence8="I Love Avengers Avengers"
print(re.sub(r"[a-z]","0",sentence8,2,flags=re.I))

0 0ove Avengers Avengers

In [41]:
#Shortened character classes
sentence9="Welcome to the year 2020"
sentence10="Just #$#++++---- arrived at @ jack's place. #fun"
sentence11="I        love       you"

In [42]:
sentence9_modified=re.sub(r"\d","",sentence9)#remove digits

In [43]:
sentence9_modified

'Welcome to the year '

In [44]:
sentence10_modified=re.sub(r"[!#$+-@.']","",sentence10)

In [45]:
sentence10_modified

'Just  arrived at  jacks place fun'

In [48]:
sentence11_modified=re.sub(r"[!#$+-@\.\']"," ",sentence10)
sentence11_modified

'Just             arrived at   jack s place   fun'

In [49]:
sentence10_modified=re.sub(r"\w","",sentence10)#a-zA-Z0-9
sentence10_modified

" #$#++++----   @ ' . #"

In [53]:
sentence10_modified=re.sub(r"\W"," ",sentence10)#no a-zA-Z0-9
sentence10_modified

'Just             arrived at   jack s place   fun'

In [54]:
sentence10_modified=re.sub(r"\s+"," ",sentence10_modified)#replace one or more space with one
sentence10_modified

'Just arrived at jack s place fun'

In [55]:
sentence10_modified=re.sub(r"\s+[a-zA-Z]\s+"," ",sentence10_modified)#remove single character
sentence10_modified

'Just arrived at jack place fun'

In [56]:
sentence11_modified=re.sub(r"\s+"," ",sentence11)#remove white spaces
sentence11_modified

'I love you'

In [57]:
sentence11_modified=re.sub(r"\s+love\s+"," hate ",sentence11_modified)#replace love with hate

In [58]:
sentence11_modified

'I hate you'

In [60]:
#Advance Regex
#Match any character with.

In [61]:
import re
text="I would like to find all patterns I define on https://wwww.medium.com"
re.findall(r"https://.+",text)

['https://wwww.medium.com']

In [62]:
#Raising the Anchor, the ^Anchor

In [63]:
anchor='The ship set sail on the ocean'
anchor_n='Ships set sail on the ocean to go places'

In [64]:
anchor01=re.findall('^[Tt]he',anchor)
print(anchor01)

['The']

In [65]:
anchor02=re.findall('^[Tt]he',anchor_n)
print(anchor02)#because The is not the begining of sentence

[]

In [66]:
#Dropping the Anchor,the"$" Anchor
anchor03=re.findall('ocean$',anchor)
print(anchor03)

['ocean']

In [67]:
anchor04=re.findall('ocean$',anchor_n)
print(anchor04)#because ocean is not at the end

[]

In [68]:
#Regex Negation(Avoiding Icebergs)-telling regex what not to match
#Capital Meta Characters

In [69]:
negation='I sail my 3 ships on the 7 seas.'
negation01=re.findall('\S',negation)
print(negation01)#\S: This will match anything EXCEPT spaces

['I', 's', 'a', 'i', 'l', 'm', 'y', '3', 's', 'h', 'i', 'p', 's', 'o', 'n', 't', 'h', 'e', '7', 's', 'e', 'a', 's', '.']

In [70]:
negation02=re.findall('\W',negation)
print(negation02)
#\W:This will match anything EXCEPT letters and numbers

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '.']

In [71]:
negation03=re.findall('\D',negation)
print(negation03)
#\D: This will match anything EXCEPT numbers.

['I', ' ', 's', 'a', 'i', 'l', ' ', 'm', 'y', ' ', ' ', 's', 'h', 'i', 'p', 's', ' ', 'o', 'n', ' ', 't', 'h', 'e', ' ', ' ', 's', 'e', 'a', 's', '.']

In [72]:
#^and Character Sets

In [76]:
#Match all consonants in a given string.There are 21 consonants in the alphabet
negation04=re.findall('[AEIOUaeiou]',negation)
print(negation04)#any of the vowels are matched

['I', 'a', 'i', 'i', 'o', 'e', 'e', 'a']

In [77]:
negation05=re.findall('[^AEIOUaeiou]',negation)
print(negation05)

[' ', 's', 'l', ' ', 'm', 'y', ' ', '3', ' ', 's', 'h', 'p', 's', ' ', 'n', ' ', 't', 'h', ' ', '7', ' ', 's', 's', '.']

In [78]:
negation06=re.findall('[^AEIOUaeioou\s\d\.]',negation)
print(negation06)

['s', 'l', 'm', 'y', 's', 'h', 'p', 's', 'n', 't', 'h', 's', 's']

In [79]:
#Look Arounds(Viewing the Wildlife)-Lookahead After/Before the Match
#Lookaround

In [86]:
lookaround='A penguin costs 250.99, a whale costs 5.99, I only have 3.50 left.'

In [81]:
#What is the cost of each animal?
#What animals are for sale?

In [92]:
lookaround01=re.findall('\d+\.\d{2}',lookaround)
lookaround01

['250.99', '5.99', '3.50']

In [99]:
#Look Behinds use <=
look_behind01=re.findall('(?<=costs)\s\d+\.\d{2}',lookaround)
look_behind01#(\s is added to account for the space between the word and the numbers)

[' 250.99', ' 5.99']

In [100]:
#Look Aheads
look_ahead01=re.findall('\w+\s(?=costs)',lookaround)
look_ahead01#To get the animal names from our string

['penguin ', 'whale ']

In [101]:
#Creating an Animal Prices Data Frame

In [105]:
import pandas as pd
animal_prices={'animals':look_ahead01,'prices':look_behind01}
animal_prices_df=pd.DataFrame(animal_prices)
animal_prices_df

    animals   prices
0  penguin    250.99
1    whale      5.99

In [107]:
#Our next step is to take care of those extra spaces.
animal_prices_df['animals']=[animal.strip() for animal in animal_prices_df['animals']]
animal_prices_df['prices']=[price.strip() for price in animal_prices_df['prices']]

In [108]:
animal_prices_df

   animals  prices
0  penguin  250.99
1    whale    5.99